DAY -1

In [ ]:
# Declare variables of different data types
integer_var = 10
float_var = 3.14
string_var = "Hello, Jupyter"
boolean_var = True

# Print each variable and its type
print(integer_var, type(integer_var))
print(float_var, type(float_var))
print(string_var, type(string_var))
print(boolean_var, type(boolean_var))

10 <class 'int'>
3.14 <class 'float'>
Hello, Jupyter <class 'str'>
True <class 'bool'>

DAY - 2 NLP

In [ ]:
# Create a list with 5 elements
my_list = [10, 20, 30, 40, 50]

# Create a tuple with 5 elements
my_tuple = ('apple', 'banana', 'cherry', 'date', 'elderberry')

# Create a dictionary with 5 key-value pairs
my_dict = {
    'name': 'Alice',
    'age': 25,
    'city': 'New York',
    'profession': 'Engineer',
    'hobby': 'Painting'
}

# Access elements in the list
print("List elements:")
print(my_list[0])
print(my_list[2])
print(my_list[-1])

# Access elements in the tuple
print("\nTuple elements:")
print(my_tuple[1])
print(my_tuple[-2])

# Access elements in the dictionary
print("\nDictionary elements:")
print(my_dict['name'])
print(my_dict['hobby'])

List elements:
10
30
50

Tuple elements:
banana
date

Dictionary elements:
Alice
Painting

DAY - 3

In [ ]:
def calculate_grade():
    try:
        subject1 = int(input("Enter marks for subject 1: "))
        subject2 = int(input("Enter marks for subject 2: "))
        subject3 = int(input("Enter marks for subject 3: "))

        if not (0 <= subject1 <= 100 and 0 <= subject2 <= 100 and 0 <= subject3 <= 100):
            print("Invalid marks. Marks should be between 0 and 100.")
            return

        average = (subject1 + subject2 + subject3) / 3

        if average >= 90:
            print("Grade: A")
        elif 80 <= average <= 89:
            print("Grade: B")
        elif 70 <= average <= 79:
            print("Grade: C")
        else:
            print("Grade: Fail")

    except ValueError:
        print("Invalid input. Please enter numeric values for marks.")


calculate_grade()

Enter marks for subject 1: 15
Enter marks for subject 2: 14
Enter marks for subject 3: 13
Grade: Fail

DAY - 4

In [4]:
# Input: Positive integer n
n = int(input("Enter a positive integer: "))

# Calculate the sum of all even numbers from 1 to n
even_sum = sum(i for i in range(2, n+1, 2))

# Output the result
print(f"The sum of all even numbers between 1 and {n} is: {even_sum}")

Enter a positive integer: 12
The sum of all even numbers between 1 and 12 is: 42